@page
@model AcneTeledermatology.Pages.UserDermRequests.DetailsModel

@{
    ViewData["Title"] = "Details";


    var isDermQueryParam = HttpContext.Request.Query["isDerm"];
    var idUserDermRequest = HttpContext.Request.Query["idudr"];
    var isComingFromWhere = HttpContext.Request.Query["comingFrom"];
    

    if (isDermQueryParam == "true")
    {
        Layout = "_DermLayout";
    }
    if (isDermQueryParam == "false")
    {
        Layout = "_PatientLayout";

}

}

<h1>Details</h1>

<div>
    <h4>UserDermRequest</h4>
    <hr />
    <dl class="row">
       @*  <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDermRequest.IDUserProfile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDermRequest.IDUserProfile)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDermRequest.IDUserSupplementalAcneProfile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDermRequest.IDUserSupplementalAcneProfile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDermRequest.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDermRequest.Comments)
        </dd>
    </dl>
</div>
<div>
    <div>


        @if (isDermQueryParam=="true")
        {
        <div>

            @* Pigi tengok user punya acne profile *@
            
                @if (Model.UserDermRequest?.IDUserSupplementalAcneProfile != null)
            {
                @if(isComingFromWhere != "uddr_index")
                {
                    <a asp-page="/UserSupplementalAcneProfiles/Details" asp-route-id="@Model.UserDermRequest.IDUserSupplementalAcneProfile" asp-route-isDerm="true" asp-route-idudr="@idUserDermRequest" >View Current Acne Status Of The Patient</a>
                }

                @if (isComingFromWhere == "uddr_index")
                {
                        <a asp-page="/UserSupplementalAcneProfiles/Details" asp-route-id="@Model.UserDermRequest.IDUserSupplementalAcneProfile" asp-route-isDerm="true" asp-route-idudr="@idUserDermRequest" asp-route-comingFrom="@isComingFromWhere" asp-route-idDermRequestForReAssessment="@Model.UserDermRequest.IDUserDermRequest">View Current Acne Status Of The Patient</a>
                }


                
            }
                @if (isComingFromWhere == "uddr_index")
                {
                    <div>
                        <a asp-page="/UserProfiles/PatientProfile" asp-route-uid="@Model.UserDermRequest.Id" asp-route-isDerm="true" asp-route-idDermRequestForReAssessment="@Model.UserDermRequest.IDUserDermRequest">View Profile of User</a>
                        
                    </div>
                }



            <a asp-page="./Index">Back to List</a>
        </div>

        }

        @if (isDermQueryParam=="false")
        {
            @if(@Model.UserDermRequest.hasDerm)
            {
                <div>
                    <a asp-page="/UserDermRequestResponses/Details" asp-route-idudr="@Model.UserDermRequest.IDUserDermRequest" asp-route-isDerm="false">View Result of Derm Assessment</a>
                 </div>
            }
        }

        



    </div>
