@page
@model AcneTeledermatology.Pages.UserDermRequests.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_PatientLayout";


    var isDermQueryParam = HttpContext.Request.Query["isDerm"];
    var idUserDermRequest = HttpContext.Request.Query["idudr"];
    var messageFromPrevious = HttpContext.Request.Query["message"];

    if (isDermQueryParam == "true")
    {
        Layout = "_DermLayout";
    }
    if (isDermQueryParam == "false")
    {
        Layout = "_PatientLayout";

    }

}
@if (isDermQueryParam == "false")
{
    <h1>Submit a derm request today!</h1>
}
@if (isDermQueryParam == "true")
{
    <h1>Index of user requests</h1>
}
@if (isDermQueryParam == "false")
{
    <p>
        
            <a class="btn btn-secondary" asp-area="" asp-page="Create">Start!</a>
        
    </p>
}

<table class="table">
    <thead>
        <tr> 
            <th>
                <p> </p>
            </th>
             @if (isDermQueryParam == "false")
             {
                <th>
                    <p>Or view your previous consultations.</p>
                </th>   
             }
            @if (isDermQueryParam == "true")
            {
                <th>
                    <p>Select one of the patient queries below</p>
                </th>
            }
        </tr>
    </thead>
    <tbody>

        
@foreach (var item in Model.UserDermRequest)
    @if (!string.IsNullOrWhiteSpace(item.Title))
    {
        <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    @if (isDermQueryParam == "false")
                    {
                        <td>
                            <a asp-page="./Details" 
                            asp-route-id="@item.IDUserDermRequest" 
                            asp-route-isDerm="false" 
                            btn-danger>@Html.DisplayFor(modelItem => item.Title)</a>
                        </td>
                    }

                    @if (isDermQueryParam == "true")
                    {
                        <td>
                            <a asp-page="./Details" 
                            asp-route-id="@item.IDUserDermRequest" 
                            asp-route-isDerm="true" 
                            asp-route-idudr="@item.IDUserDermRequest" 
                            btn-danger>@Html.DisplayFor(modelItem => item.Title)</a> 

                        </td>
                    }

        </tr>
    }

    </tbody>
</table>

@if (messageFromPrevious == "tryingToSubmitFollowUpToRequestWithFollowUp")
{
    <p>This consultation case already has a follow-up case. You cannot submit two cases.</p>
}
