@page
@model AcneTeledermatology.Pages.UserDermRequestResponses.DetailsModel

@{
    ViewData["Title"] = "Details";

    
    var isDermQueryParam = HttpContext.Request.Query["isDerm"];
    var idUserDermRequest = HttpContext.Request.Query["idudr"];

    if (isDermQueryParam == "true")
    {
        Layout = "_DermLayout";
    }
    if (isDermQueryParam == "false")
    {
        Layout = "_PatientLayout";

    }
}

<h1>Details</h1>

<div>
    <h4>UserDermRequestResponse</h4>
    <hr />
    <dl class="row">
     
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDermRequestResponse.DermComment)
        </dt>
        <dd class="col-sm-10">
            <pre>@Html.DisplayFor(model => model.UserDermRequestResponse.DermComment)</pre>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDermRequestResponse.DermPrescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDermRequestResponse.DermPrescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDermRequestResponse.DermSuggestion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDermRequestResponse.DermSuggestion)
        </dd>
    </dl>
</div>
 @if (isDermQueryParam == "true")
{
    <div>
   
        <a asp-page="./Edit" asp-route-id="@Model.UserDermRequestResponse?.IDUserDermRequestResponse">Edit</a>
    |


    
    </div>
 }
    @if(isDermQueryParam == "false")
    }
    <div>
    @if(Model.ShowOptionsToLetPatientFollowUp)
    {
   
            <a class="btn btn-outline-danger" asp-page="/UserDermRequests/CreateFollowUpRequest" asp-route-id="@Model.UserDermRequestResponse?.IDUserDermRequestResponse" , asp-route-idudr=@idUserDermRequest>My acne is not healing yet.</a>
            <a class="btn btn-outline-danger" asp-page="/UserDermRequests/AcneOK" asp-route-id="@Model.UserDermRequestResponse?.IDUserDermRequestResponse" , asp-route-idudr=@idUserDermRequest>Close consultation. My acne got better. I will come back in the future for separate consultation.</a>
    
    }
</div>
    

@if (Model.InformUserDermHaveNotRespondedYet)
{
    <div>Derm have not responded yet. Come back later!</div>
}

    @if (Model.reasonCaseClosed == "Virtual consultation not possible. Require physical consultation.")
    {
        <div>
            <p>thanks for using our service! case is now closed. </p>
        </div>
    }

@if (Model.isCaseClosed == true)
    {
        <a asp-page="./CloseCaseFromPatientSide" asp-route-id="@Model.UserDermRequestResponse?.IDUserDermRequestResponse">Close consultation</a>
    }

    }
    <div>
<p>
    Prescribed by:
    Doctor @Model.DermName
</p>
</div>

    <!-- Modal Dialog -->
    <div class="modal" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="warningModalLabel">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This consultation case already has a follow-up case. You cannot submit two cases.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>





   


