@page
@model AcneTeledermatology.Pages.UserDermRequestResponses.DetailsModel

@{
    ViewData["Title"] = "Details";

    
    var isDermQueryParam = HttpContext.Request.Query["isDerm"];
    var idUserDermRequest = HttpContext.Request.Query["idudr"];

    if (isDermQueryParam == "true")
    {
        Layout = "_DermLayout";
    }
    if (isDermQueryParam == "false")
    {
        Layout = "_PatientLayout";

    }
}

<h1>Details</h1>

<div>
    <h4>UserDermRequestResponse</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDermRequestResponse.IDDermProfile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDermRequestResponse.IDDermProfile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDermRequestResponse.IDUserDermRequest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDermRequestResponse.IDUserDermRequest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDermRequestResponse.DermComment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDermRequestResponse.DermComment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDermRequestResponse.DermPrescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDermRequestResponse.DermPrescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDermRequestResponse.DermSuggestion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDermRequestResponse.DermSuggestion)
        </dd>
    </dl>
</div>
 @if (isDermQueryParam == "true")
{
    <div>
   
        <a asp-page="./Edit" asp-route-id="@Model.UserDermRequestResponse?.IDUserDermRequestResponse">Edit</a>
    |


    < a asp - page = "./Index" > Back to List</ a >
    </div>
 }
    @if(isDermQueryParam == "false")
    }
    <div>
        <a asp-page="/UserDermRequests/CreateFollowUpRequest" asp-route-id="@Model.UserDermRequestResponse?.IDUserDermRequestResponse" , asp-route-idudr=@idUserDermRequest>My acne is not healing yet.</a>
            <a asp-page="/UserDermRequests/AcneOK" asp-route-id="@Model.UserDermRequestResponse?.IDUserDermRequestResponse" , asp-route-idudr=@idUserDermRequest>Close consultation. My acne got better. I will come back in the future for separate consultation.</a>
    </div>
    }


    <!-- Modal Dialog -->
    <div class="modal" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="warningModalLabel">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This consultation case already has a follow-up case. You cannot submit two cases.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>




   


